.content {
    width: 100%;
    max-width: 1260px;
    height: 100%;
    padding: 0 0 20px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: auto;
    
    @media (max-width: 1024px) {
        padding: 0 20px 20px 20px;
    }
}