.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    color: #fff;
    font-size: 22px;
    display: flex;
    align-items: end;
    padding: 10px;
    background-position: 0 5px;
    box-sizing: border-box;
    background-color: #000000c7;
    z-index: 2;
    &-logo {
        font-size: 22px;
        font-weight: 600;
        color: #fff;
        display: flex;
        align-self: center;
        justify-content: center;
        font-family: 'Deltha', 'Roboto', sans-serif;
        cursor: pointer;

        @media (max-width: 414px) {
            font-size: 18px;
        }
    }
    .social-media {
        display: flex;
        align-self: center;
    }
}