.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    color: #fff;
    font-size: 22px;
    display: flex;
    align-items: end;
    padding: 10px;
    background-image: url(../../assets/logo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 5px;
    box-sizing: border-box;
    background-color: #000000c7;
    z-index: 2;
}