footer {
    width: 100%;
    display: flex;
    font-size: 12px;
    text-align: right;
    padding: 5px 10px;
    box-sizing: border-box;
    background-color: #000;
    position: fixed;
    bottom: 0;
    left: 0;
    .tel, .simple-link {
        margin-right: auto;
        cursor: pointer;
        font-size: 12px;
        color: #bfbfbf;
    }
}