:host {
    width: 100%;
}

.contact {
    &-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        
        @media (max-width: 768px) {
            flex-direction: column;
            align-items: center;
        }
        &--form {
            width: 100%;
            display: flex;
            flex-direction: column;
            max-width: 440px;
            background-color: rgb(255 255 255 / 90%);
            border-radius: 8px;
            padding: 20px;
            margin: auto 0;
            box-shadow: 1px 0px 8px 2px #969696;
            box-sizing: border-box;
            @media (max-width: 768px) {
                max-width: 100%;
            }
        }
        &--info {
            width: 100%;
            display: block;
            li {
                padding: 5px 0;
            }

            &__image {
                display: flex;
                @media (max-width: 768px) {
                    display: none;
                }
                img {
                    max-width: 50%;
                    margin: auto;
                    @media (max-width: 1280px) {
                        max-width: 60%;
                    }
                    @media (max-width: 980px) {
                        max-width: 80%;
                    }
                }
            }
        }
    }

    .my-button {
        color: #676767;
    }

    mat-form-field {
        mat-label {
            color: #676767;
        }
    }
}

:host ::ng-deep {
    .mat-mdc-form-field-required-marker {
        &::after {
            color: #676767 !important;
        }
    }
}