:host {
    width: 100%;
}

.contact {
    &-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            gap: 20px;
        }
        &--form {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin-left: auto;
            max-width: 440px;
            background-color: rgb(255 255 255 / 90%);
            border-radius: 8px;
            padding: 20px;
            box-shadow: 1px 0px 8px 2px #969696;
            box-sizing: border-box;
        }
        &--info {
            li {
                padding: 5px 0;
            }
        }
    }
}