<div class="page-head">
    <h1 class="page-head--h1">O mnie</h1>
    <h2 class="page-head--h2">Frontend Developer <span>z pasją</span> do nowoczesnych technologii</h2>
</div>
<div class="about">
    <div class="about-left">
        <h3>Szymon Ostrowski</h3>
        <button class="button" (click)="goToOffer()">Zobacz Portfolio</button>
        <!-- <h4>Developer</h4> -->
    </div>
    <div class="about-right">
        <div class="about-right--subtitle">
            <span>29 lat</span>
            <span>/</span>
            <span>Angular Expert</span>
            <span>/</span>
            <span>Białystok</span>
        </div>
        <p class="about-right--text">
            Jestem doświadczonym Frontend Developerem z 10-letnim stażem w branży IT. 
            Specjalizuję się w tworzeniu nowoczesnych aplikacji webowych w Angular, TypeScript i Material Design.
            Poszukuję nowych wyzwań w dynamicznym zespole, gdzie mogę rozwijać swoje umiejętności 
            i przyczyniać się do tworzenia innowacyjnych rozwiązań technologicznych.
        </p>
        <div>
            <h2>Moje doświadczenie</h2>
            <div class="about-right--services">
                <div class="about-right--services_box">
                    <fa-icon [icon]="faLaptop" class="about-right--services_box__icon"></fa-icon>
                    <div class="about-right--services_box__title">10 lat doświadczenia</div>
                    <p class="about-right--services_box__description">
                        Od 2014 roku aktywnie rozwijam się w branży IT. Pracowałem nad projektami 
                        dla firm z różnych sektorów - od startupów po korporacje międzynarodowe.
                    </p>
                </div>
                <div class="about-right--services_box">
                    <fa-icon [icon]="faPalette" class="about-right--services_box__icon"></fa-icon>
                    <div class="about-right--services_box__title">Angular & TypeScript</div>
                    <p class="about-right--services_box__description">
                        Specjalizuję się w Angular (wersja 19), TypeScript, Material Design, RxJS. 
                        Tworzę skalowalne aplikacje SPA z wykorzystaniem najnowszych wzorców architektonicznych.
                    </p>
                </div>
                <div class="about-right--services_box">
                    <fa-icon [icon]="faWaveSquare" class="about-right--services_box__icon"></fa-icon>
                    <div class="about-right--services_box__title">Prowadzenie projektów</div>
                    <p class="about-right--services_box__description">
                        Wielokrotnie pełniłem rolę tech leada, prowadząc zespoły deweloperskie 
                        i architektując rozwiązania dla klientów z Polski i zagranicy.
                    </p>
                </div>
                <div class="about-right--services_box">
                    <fa-icon [icon]="faFile" class="about-right--services_box__icon"></fa-icon>
                    <div class="about-right--services_box__title">Certyfikaty & Szkolenia</div>
                    <p class="about-right--services_box__description">
                        Certyfikat <a href="https://angular-in-space.pl/" target="_blank">Angular in Space</a>, 
                        ciągłe doskonalenie umiejętności poprzez kursy i konferencje branżowe.
                    </p>
                </div>
                <div class="about-right--services_box">
                    <fa-icon [icon]="faTruckFast" class="about-right--services_box__icon"></fa-icon>
                    <div class="about-right--services_box__title">Agile & DevOps</div>
                    <p class="about-right--services_box__description">
                        Doświadczenie w metodologiach Agile, CI/CD, Git, Docker. 
                        Pracuję zarówno zdalnie jak i w trybie hybrydowym.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>