.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    @media (max-width: 1024px) {
        grid-template-columns: 1fr 2fr;
    }
    
    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 15px;
    }
    &-left {
        background-image: url(../../../assets/stronka-2.jpg);
        background-size: cover;
        background-position: bottom;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 4px;
        box-shadow: inset 0px 0px 15px 2px #000;
        gap: 10px;
        @media (max-width: 1024px) {
            min-height: 110px;
            background-repeat: no-repeat;
            background-position: 0 45%;
        }
        h3 {
            margin-top: auto;
            margin-bottom: 0;
            @media (max-width: 768px) {
                display: none;
            }
        }
        h4 {
            margin: 0;
        }
        button {
            margin-bottom: 20px;
            @media (max-width: 768px) {
                display: none;
            }
        }
    }
    &-right {
        &--title {
            font-size: 32px;
        }
        &--subtitle {
            display: flex;
            gap: 10px;
            color: rgb(23, 94, 146);
        }
        &--text {
            color: #bfbfbf;
            padding-bottom: 20px;
            border-bottom: 1px solid #141414;
            margin-bottom: 20px;
        }
        &--services {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 4px;
            
            @media (max-width: 768px) {
                grid-template-columns: 1fr;
                gap: 8px;
            }
           &_box {
            background: rgba(53, 53, 53, 0.2);
            border-radius: 2px;
            box-shadow: inset 0 0px 14px rgba(209, 209, 209, 0.11);
            backdrop-filter: blur(9px);
            padding: 10px;
                &__icon {
                    font-size: 18px;
                    color: rgb(23, 94, 146);
                }
                &__title {
                    margin-top: 10px;
                    // color: #fff;
                    font-weight: 700;
                }
                &__description {
                    color: #696969;
                }
           } 
        }
    }
}