.home {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &--title {
        margin: auto auto 0 auto;
        font-size: 32px;
        padding: 10px 40px;
        text-align: center;
        text-transform: uppercase;
        span {
            display: inline-block;
            font-size: 22px;
            margin-bottom: 20px;
            color: #696969;
            text-transform: none;
        }
    }
    button {
        margin: 0 auto auto auto
    }
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100%;
  }