.nav {
    position: sticky;
    right: 0;
    top: 0;
    display: flex;
    margin: auto;
    flex-direction: column;
    box-sizing: border-box;
    gap: 20px;
    padding: 20px 20px 0 0;
    @media (max-width: 1025px) {
        flex-direction: row;
        align-items: center;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 24px;
        top: auto;
        background: rgba(0, 0, 0, 0.7803921569);
        padding: 10px 0;
    }
    &-box {
        width: 70px;
        max-width: 25vw;
        height: 70px;
        min-height: 70px;
        background-color: rgb(255 255 255 / 11%);
        position: relative;
        cursor: pointer;
        border-radius: 4px;
        transition: all 400ms;
        box-shadow: inset 0 0px 30px rgb(214 214 214 / 35%);
        position: relative;
        left: 0;
        bottom: 0;
        fa-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 22px;
        }

        @media (min-width: 1025px) {
            &.active {
                background-color: rgb(23 94 146);
                box-shadow: none;
                cursor: auto;
            }
            
            &:not(.active):hover {
                background-color: rgb(255 255 255 / 5%);
                box-shadow: inset 0 0px 20px rgb(214 214 214 / 35%);
                left: -10px;
            }
        }

        @media (max-width: 1025px) {
            &.active {
                background-color: rgb(23 94 146);
                box-shadow: none;
                cursor: auto;
            }
            
            &:not(.active):hover {
                background-color: rgb(255 255 255 / 5%);
                box-shadow: inset 0 0px 20px rgb(214 214 214 / 35%);
                bottom: 10px;
            }
        }

        &:first-of-type {
            margin-left: auto;
        }

        &:last-of-type {
            margin-right: auto;
        }

        &--name {
            position: absolute;
            top: calc(50% + 24px);
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 12px;
            text-align: center;
        }
    }
}